
.map{
    border: 1px solid rgb(83, 83, 83);
    width: 420px;
    height: 756px;
    margin: 0 auto;
}

.tile{
    width: 40px;
    height: 40px;
    border: 1px solid rgba(175, 175, 175, 0.4);
    float: left;
    
}

.orangeTile{background: orange;}
.yellowTile{background: yellow;}
.redTile{background: red;}
.cyanTile{background: cyan;}
.greenTile{background: green;}
.amberTile{background: #FFC000;}
.magentaTile{background: magenta; }




.firstXTile{
    clear:both;
}