.tetrisBoard{
    margin: 0 auto;
    width: 380px;
    height: 684px;
}

.tile{
    width: 36px;
    height: 36px;
    border: 1px solid rgb(129, 129, 129);
    float: left;
}

.firstTileX{
    clear: both;
}

.cyanTile{
    background: cyan;
}
.blueTile{
    background: blue;
}
.orangeTile{
    background: orange;
}
.yellowTile{
    background: yellow;
}
.greenTile{
    background: green;
}
.purpleTile{
    background: purple;
}
.redTile{
    background: red;
}

.scoreboard{
    font-family: arial;
    text-align: right;
    padding-right: 5px;
    background: black;
    width: 180px;
    height: 45px;
    border-radius: 10px;
    font-size: 2.5em;
    color: white;
    border-left: 1px solid #cdcdcd;
    border-top: 1px solid #cdcdcd;
    border-right: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
}