body{
    background: #F5EEE3;
}

.tetrisContain{
    margin: 0 auto;
    max-width: 1000px;
    position: relative;
}

.tetrisBoard{
    width: 380px;
    height: 684px;
    display: inline-block;
    margin-left: 10%;
    margin-top: 20px;
}

.tile{
    width: 36px;
    height: 36px;
    border: 1px solid rgb(129, 129, 129);
    float: left;
    background: white;
}

.firstTileX{
    clear: both;
}

.cyanTile{
    background: cyan;
}
.blueTile{
    background: blue;
}
.orangeTile{
    background: orange;
}
.yellowTile{
    background: yellow;
}
.greenTile{
    background: green;
}
.purpleTile{
    background: purple;
}
.redTile{
    background: red;
}

.scoreboard{
    display: inline-block;
    font-family: arial;
    text-align: right;
    padding-right: 5px;
    border-radius: 10px;
    font-size: 2em;
    color: #726252;
    position: absolute;
    left: 60%;
    top: 50px;
}